$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.projector {
    background-color: #623027;
    color: white !important;
}

.desktop {
    background-color: #fffafa;
}

.timer-page {
    max-width: 50em;
    text-align: center;
}

.header {
    font-weight: 400;
}

.coffee-image {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

.logo {
    font-size: 5em;
    font-weight: 800;
    color: #623027;
    font-family: 'Boogaloo', cursive;
}

.timer {
    font-size: 10em;

}

.buttons {
    margin-top: 3em;
}

.settings-buttons {
    margin-top: 1em;

}

.lean-btn {
  @extend .btn;
  @extend .btn-lg;
  margin: 0.20em 0.20em 0.20em 0.20em;
}

.lean-btn-blue {
  @extend .lean-btn;
  @extend .btn-primary
}

.lean-btn-yellow {
  @extend .lean-btn;
  @extend .btn-warning
}

.lean-btn-green {
  @extend .lean-btn;
  @extend .btn-success
}

.settings-btn {
  @extend .lean-btn;
  @extend .btn-sm;
  color: black !important;
}

.vertical-line {
    background-color: #623027;
    height: 0.33em;
}
